body {margin: -0;}

.thirdWidth {float: left; width: 33%;}

#page {position: absolute; left: 0; top: 0; width: 1000px; height: 738px;}

#game header {position: absolute; left: 0; top: 0; width: 100%; height: 70px; background-color: #369; color: #fff;}

#gameCanvas {position: absolute; left: 0; top: 70px; width: 100%; height: 620px; background-color: #fff; clip: auto; overflow: hidden;}

#game footer {position: absolute; left: 0; top: 690px; width: 100%; height: 48px; background-color: #369;}
